[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "lib/cpprestsdk"]
	path = lib/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk
